{% extends "layout.html" %}

{% block title %}
    Flight
{% endblock %}

{% block body %}
    <h1>Flight Details</h1>

    <ul>
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination: {{ flight.destination }}</li>
        <li>Duration: {{ flight.duration}} minutes</li>
    </ul>

    <h2>Passengers</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger.name }}</li>
        {% else %}
            <li>No passengers.</li>
        {% endfor %}
    </ul>
<a href="http://127.0.0.1:5000/" title="Go to Home Page">Back</a>

{% endblock %}
